:root {
  --primary-header-background: #72acff;
}

.wrapper {
  width: 96%;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0px 3px 90px -15px rgb(0 0 0 / 16%);
}
.wrapper__header {
  background-color: var(--primary-header-background);
  font-size: 20px;
  font-style: bold;
  padding: 15px 10px;
  border-radius: 10px;
}
.container__div {
  width: 95%;
  margin: 20px auto;
}
label {
  font-weight: 600;
  height: fit-content;
}
th > label {
  font-weight: 600;
}
tr,
th {
  text-align: center !important;
}
.table-cell {
  display: flex;
  justify-content: center;
  background-color: var(--primary-header-background);
  border: 1px solid lightgrey;
}

.table {
  /* width: 96% !important; */
  margin: 20px auto;
  box-shadow: 0px 0px 28px 14px rgba(0, 0, 0, 0.2);
}

.wrapper-button {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrapper-button.wrapper-button-side {
  display: flex;
  justify-content: space-between;
}
.wrapper-button__div {
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-button__div.button-2 {
  width: 20%;
}

tr,
td,
th {
  text-align: center !important;
  border: 1px solid lightgray;
}
.table-pagination {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
