label {
    font-size: 13px;
    font-weight: bold;
    margin-block-end: 0;
}

.btn-40 {
    width: 134px !important;
    height: 40px !important;
}

.btn-30 {
    width: 90px !important;
    height: 30px !important;
}


.br {
    width: 97%;
    margin: 0px auto 0px;
    border-bottom: 1px solid #ACABAB;
}

