/* form {
    width: 360px;
} */
.signupFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 60px);
}

.signupForm {
    width: 360px;
}

.signupForm-Header {
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
}

.signupForm-InputGroup {
    display: flex;
}

.signupForm-Group {
    padding-bottom: 10px;
}


.signupForm-Label {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.signupForm-ButtonGroup {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.space {
    width: 20%;
}
