

.signupFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.signupForm {
    width: 360px;
}

.signupForm-Main>* {
    margin-bottom: 8px;
}

.signupForm-Header {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.signupForm-InputGroup {
    display: flex;
}
.signupForm-InputGroup>* {
    margin-bottom: 6px;
}

.signupForm-Group {
    padding-bottom: 8px;
}


.signupForm-Label {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.signupForm-ButtonGroup {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.signupFormFooter {
    margin-top: 20px;
}

.space {
    width: 15%;
}
