* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::placeholder {
    font-size: 13px;
}

p {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
}

label {
    font-size: 13px;
    font-weight: bold;
    margin-block-end: 0;
}

li {
    background-color: transparent;
}

li:hover {
    transform: none;
    background-color: rgba(0, 0, 0, 0.2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    width: 1280px;
    max-width: 100%;
    overflow-x: hidden;
}

.btn-40 {
    width: 134px !important;
    height: 40px !important;
}

.btn-30 {
    width: 90px !important;
    height: 30px !important;
}

.br {
    width: 97%;
    margin: 0px auto 0px;
    border-bottom: 1px solid #ACABAB;
}

