@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
.authen-FormGroup {
    margin-bottom: 30px;
}

.authen-FormGroupNoti {
    height: 20px;
    padding-top: 6px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #F33A58;
}

.loginFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.loginForm {
    width: 360px;
}

.loginForm-Header {
    text-align: center;
    padding-bottom: 45px;
    font-weight: bold;
}

.loginForm-Group {
    padding-bottom: 25px;
}

.authenForm-Label {
    display: block;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.loginForm-GroupBtn {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.authenFormInput {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    border: 2px solid #72ACFF;
    border-radius: 6px;
}

.authenFormInput.error {
    outline: none;
    border: 2px solid #FF483C;
}
.authenFormInput:focus {
    outline: none;
    border: 2px solid #72ACFF;
    box-shadow: 0 0 3px 2px #72ACFF;
}
.authenFormInput:focus+.authen-FormGroupNoti>.errorNoti{
    display: none;
}

.authenFormInput::placeholder {
    font-size: 12px;
    line-height: 2;
    vertical-align: middle;
}

.loginForm .loginFormNoti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 13px;
    color: #FF483C;
}


.hide {
    display: none !important;
}


/* test forik code sanbox */

