.loginFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.loginForm {
    width: 360px;
}

.loginForm-Header {
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
}

.loginForm-Group {
    padding-bottom: 25px;
}


.loginForm-Label {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.loginForm-GroupBtn {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}


